<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block", class: "form-label fw-medium" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :icon, style: "display: block", class: "form-label mt-2 fw-medium" %>
    <%= form.select :icon, @icon_names, {}, class: "form-select" %>
  </div>

    <%= form.hidden_field :user_id, value: current_user.id%>

  <div>
    <%= form.submit class: "btn btn-primary form-control mt-3" %>
  </div>
<% end %>
