
<%= render @group, total: @total %>

<div class="deledit mb-2">
  <%= link_to "Edit", edit_group_path(@group), class: "btn btn-primary" %>

  <%= button_to "delete", @group, data: {turbo_confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger" %>

  <%= link_to "Add New Product", new_group_product_path(@group), class: "btn btn-success" %>
</div>

<div id="products">
  <% @products.each do |product| %>
    <%= render "groups/product", product: product %>
  <% end %>
