<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<% if notice.present? %>
  <p style="color: green; font-size: 0.7em", class="text-center mt-1"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p style="color: red; font-size: 0.7em", class="text-center mt-1"><%= alert %></p>
<% end %>

  <div class="login-head fs-5 mb-3">
  <%= link_to root_path do %>
      &larr;
  <% end %>
      <span>Password</span>
      <%= f.submit "send", class: "login border-0" %>
  </div>


  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your email" %>
  </div>

<% end %>

<%# render "devise/shared/links" %>
