<%= form_with(model: product, url: group_products_path, method: :post) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-2">
    <%= form.label :name, style: "display: block", class: "form-label mb-2 fw-medium" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Product's name"%>
  </div>

  <div class="mt-2">
    <%= form.label :amount, style: "display: block", class: "form-label mb-2 fw-medium" %>
    <%= form.text_field :amount, class: "form-control", placeholder: "Product's amount (e.g) 23.5" %>
  </div>

  <div>
    <%= form.hidden_field :author_id, value: current_user.id, class: "form-control mb-2" %>
  </div>

  <div>
    <%= form.hidden_field :group_id, value: @group.id, class: "form-control mb-2" %>
  </div>

  <div class="mt-2">
    <%= form.submit class: "btn btn-primary form-control mt-2" %>
  </div>
<% end %>
